## Pandas Dataframes

Boise State University\
Department of Computer Science\
CS 334 Algorithms of Machine Learning\
Conrad Kennington\
Fall 2020

In [4]:
import pandas as pd

Create a simple Python list

In [6]:
my_list = [2, 4, 6, 8]

Convert to a Pandas data frame Series

In [7]:
my_series = pd.Series(my_list)

Try out some functions

In [14]:
my_series

0    2
1    4
2    6
3    8
dtype: int64

In [15]:
my_series.sum()

20

In [16]:
my_series.max()

8

In [17]:
my_series.min()

2

In [18]:
my_series.mean()

5.0

In [19]:
my_series.median()

5.0

In [20]:
my_series.std()

2.581988897471611

In [21]:
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

## Read a CSV

First, generate some random data -- random names in this case.

In [25]:
import random

# Generate random names
names = ["Albert","John","Richard","Henry","William"]
surnames = ["Goodman","Black","White","Green","Joneson"]
salaries = [500*random.randint(10,30) for _ in range(10)]

def generate_random_person(names, surnames, salaries):
    return {"name":random.sample(names,1)[0],
            "surname":random.sample(surnames,1)[0],
            "salary":random.sample(salaries,1)[0]}

def generate_people(k):
    return [generate_random_person(names, surnames, salaries) for _ in range(k)]

### Create a data frame, and write them to a CSV file

In [26]:
df = pd.DataFrame(generate_people(50),
                  columns=["name","surname","salary"])

df.to_csv("random_people.csv")

Read the CSV back into a data frame.

In [27]:
df = pd.read_csv("random_people.csv")

In [29]:
df.head() # so pretty!

   Unnamed: 0    name  surname  salary
0           0  Albert    Black   10500
1           1  Albert  Joneson    9500
2           2    John  Goodman   11500
3           3  Albert    Black   10000
4           4   Henry    Black   11500

Write queries around the dataframe -- almost like MySQL

In [30]:
df_low = df.loc[df["salary"]<6000,"salary"]

In [31]:
df_low

8     5500
11    5500
15    5500
25    5500
26    5500
27    5500
41    5500
44    5500
Name: salary, dtype: int64